@import url('https://fonts.googleapis.com/css2?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

:root {
  font-family: Noto Sans;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  font-size: 20px;
}

::placeholder {
  color: #4b433c;
  font-family: Noto Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

label {
  color: #000000;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400; 
  justify-content: space-between;
}

p {
  color: rgb(160, 130, 100);
  font-family: Noto Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
}

h1 {
  color: #995D21;
  font-family: Noto Sans;
  font-size: 2.25rem;
  font-style: normal;
  font-display: swap;
  font-weight: bold;   
  line-height: 100%; 
  text-transform: uppercase;
  justify-content: left;
} 

button {
  border: 1px solid transparent;
  display: flex;
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #D0A981;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #995D21;
  text-align: center;
  font-family: Noto Sans;
  min-width: 6rem;
  font-size: 1,25rem;
  font-style: normal;
  font-weight: bold;
  line-height: 100%; 
  text-transform: uppercase;
  transition: 0.5s;
}

button:hover {
  background: #995D21;
  color: #F2E2C2;
  transition: 0.5s;
  border: #995D21;
}


/* Classes */

.imageMinimized {
  max-width:10rem;
  max-height:10rem;
  width: auto;
  height: auto;
  transition: 0.25s;
}

.imageMinimized:hover {
  max-width:64rem;
  max-height:36rem;
  width: auto;
  height: auto;  
  transition: 0.25s;
}

.worldMap {
  position: absolute;
  display: flex; 
} 

.pinMap {
  position: absolute;
}

.pinMapImage {
  filter: drop-shadow(2px 2px 2px black);
  position: absolute;
  width: auto;
  height: auto;  
  transition: 0.5s;
} 

.pinMapImage:hover {
  filter: drop-shadow(7px 7px 7px #F2E2C2);
  width: auto;
  height: auto;  
  transition: 0.5s;
} 

.inputText {
  border: #EFEFEF;
  display: flex;
  min-height: 2rem;
  min-width: 6rem;
  padding: 0.5rem;
  align-self: stretch;
  align-items: center; 
  gap: 0.5rem;
  border-radius: 0.6rem;
  background: #EFEFEF; 
  color: #995D21;
  font-size: 1.25rem; 
  font-family: Noto Sans;
  font-style: oblique;
  min-width: 15rem;
}

.containerCentralized {
  padding: 1.25rem;
  align-items: center; 
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  justify-content: space-between;
  min-width: 12rem;
}

.buttonCancel {
  display: flex;
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #F2E2C2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #995D21;
  text-align: center;
  font-family: Noto Sans;
  min-width: 5rem;
  font-size: 1,25rem;
  font-style: normal;
  font-weight: bold;
  line-height: 100%; 
  text-transform: uppercase;
}

.containerWhite {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: center; 
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  background: #FFF;
  justify-content: space-between;
  min-width: 12rem;
} 

.containerLabel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-left: 1rem;
  gap: 1rem;
}

.rowContent {
  min-width: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* Specific */
/* Checkbox */
.checkbox-wrapper-44 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-44 *,
.checkbox-wrapper-44 *::before,
.checkbox-wrapper-44 *::after {
  box-sizing: border-box;
}

.checkbox-wrapper-44 .toggleButton {
  cursor: pointer;
  display: block;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transition: transform 0.14s ease; 
}
.checkbox-wrapper-44 .toggleButton:active {
  transform: rotateX(30deg);
}
.checkbox-wrapper-44 .toggleButton input + div {
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: relative;
  width: 30px;
  height: 30px;
}
.checkbox-wrapper-44 .toggleButton input + div svg { 
  fill: none;
  stroke-width: 3.6;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  z-index: 1;
  stroke-dashoffset: 124.6;
  stroke-dasharray: 0 162.6 133 29.6;
  transition: all 0.4s ease 0s;
}
.checkbox-wrapper-44 .toggleButton input + div:before,
.checkbox-wrapper-44 .toggleButton input + div:after {
  content: "";
  width: 3px;
  height: 16px;
  background: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 5px;
}
.checkbox-wrapper-44 .toggleButton input + div:before {
  opacity: 0;
  transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  -webkit-animation: bounceInBefore-44 0.3s linear forwards 0.3s;
          animation: bounceInBefore-44 0.3s linear forwards 0.3s;
}
.checkbox-wrapper-44 .toggleButton input + div:after {
  opacity: 0;
  transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  -webkit-animation: bounceInAfter-44 0.3s linear forwards 0.3s;
          animation: bounceInAfter-44 0.3s linear forwards 0.3s;
}
.checkbox-wrapper-44 .toggleButton input:checked + div svg {
  stroke-dashoffset: 162.6;
  stroke-dasharray: 0 162.6 28 134.6;
  transition: all 0.4s ease 0.2s;
}
.checkbox-wrapper-44 .toggleButton input:checked + div:before {
  opacity: 0;
  transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  -webkit-animation: bounceInBeforeDont-44 0.3s linear forwards 0s;
          animation: bounceInBeforeDont-44 0.3s linear forwards 0s;
}
.checkbox-wrapper-44 .toggleButton input:checked + div:after {
  opacity: 0;
  transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  -webkit-animation: bounceInAfterDont-44 0.3s linear forwards 0s;
          animation: bounceInAfterDont-44 0.3s linear forwards 0s;
}

@-webkit-keyframes bounceInBefore-44 {
  0% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
  }
  80% {
    opacity: 1;
    transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes bounceInBefore-44 {
  0% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
  }
  80% {
    opacity: 1;
    transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
}
@-webkit-keyframes bounceInAfter-44 {
  0% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
  }
  80% {
    opacity: 1;
    transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
}
@keyframes bounceInAfter-44 {
  0% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
  }
  80% {
    opacity: 1;
    transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
}
@-webkit-keyframes bounceInBeforeDont-44 {
  0% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
}
@keyframes bounceInBeforeDont-44 {
  0% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
}
@-webkit-keyframes bounceInAfterDont-44 {
  0% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
}
@keyframes bounceInAfterDont-44 {
  0% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
}
