.inputText{
  border: #EFEFEF;
  display: flex;
  min-height: 2rem;
  min-width: 6rem;
  padding: 0.5rem;
  align-self: stretch;
  align-items: center; 
  gap: 0.5rem;
  border-radius: 0.6rem;
  background: #EFEFEF; 
  color: #995D21;
  font-size: 1.25rem; 
  font-family: Noto Sans;
  font-style: oblique;
  min-width: 15rem;
}

.containerCentralized {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: center; 
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  justify-content: space-between;
  min-width: 12rem;
}

.buttonCancel {
  display: flex;
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #F2E2C2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #995D21;
  text-align: center;
  font-family: Noto Sans;
  min-width: 5rem;
  font-size: 1,25rem;
  font-style: normal;
  font-weight: bold;
  line-height: 100%; 
  text-transform: uppercase;
}

.containerWhite {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: center; 
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  background: #FFF;
  justify-content: space-between;
  min-width: 12rem;
} 

.containerLabel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-left: 1rem;
  gap: 1rem;
}

.rowContent {
  min-width: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}