.button-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #D0A981;
    color: #fff; 
    font-size: 18px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
    content: "\00d7";
  }

  .button-circle:after {
    content: "\00d7";
  }
  
  .button-circle:hover {
    background-color: #995D21; /* Cor de fundo ao passar o mouse */
  }