.button-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #D0A981;
    color: #fff; 
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    position: fixed;
    margin-top: 10px;
    margin-left: 90%;
    vertical-align: auto;
  }

  .button-circle:after {
    content: "\00d7";
  }
  
  .button-circle:hover {
    background-color: #995D21;
  }