@import url('https://fonts.googleapis.com/css2?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

:root {
  font-family: Noto Sans;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("/background.jpg");
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 20px;
}

::placeholder {
  color: #4b433c;
  font-family: Noto Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

label {
  color: #000000;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400; 
  justify-content: space-between;
}

p {
  color: rgb(160, 130, 100);
  font-family: Noto Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
}

h1 {
  color: #995D21;
  font-family: Noto Sans;
  font-size: 2.25rem;
  font-style: normal;
  font-display: swap;
  font-weight: bold;   
  line-height: 100%; 
  text-transform: uppercase;
  justify-content: left;
} 

h2 {
  color: #995D21;
  font-family: Noto Sans;
  font-size: 1.75rem;
  font-style: normal;
  font-display: swap;
  font-weight: bold;   
  line-height: 100%; 
  text-transform: uppercase;
  justify-content: left;
}

/* Classes */
.defaultButton {
  border: 1px solid transparent;
  display: flex;
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #D0A981;
  border: #D0A981;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #995D21;
  text-align: center;
  font-family: Noto Sans;
  min-width: 6rem;
  font-size: 1,25rem;
  font-style: normal;
  font-weight: bold;
  line-height: 100%; 
  text-transform: uppercase;
  transition: 0.5s;
  margin-top: 2rem;
}

.defaultButton:hover {
  background: #995D21;
  color: #F2E2C2;
  transition: 0.5s;
  border: #995D21;
}

.inputText {
  border: #EFEFEF;
  display: flex;
  min-height: 2rem;
  min-width: 6rem;
  padding: 0.5rem;
  align-self: stretch;
  align-items: center; 
  gap: 0.5rem;
  border-radius: 0.6rem;
  background: #EFEFEF; 
  color: #995D21;
  font-size: 1.25rem; 
  font-family: Noto Sans;
  font-style: oblique;
  min-width: 15rem;
}

.container-centralized {
   text-align: center;
   min-width: 12rem;
}

.container {
   margin-left: auto;
   margin-right: auto;
   margin-top: 4rem;
   margin-bottom: 4rem;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.frame-left {
   min-width: 3rem;
   min-height: 3rem;
   max-width: 20rem;
   max-height: 20rem;
   border-radius: 50%;
   overflow: hidden;
   margin-left: auto;
   border: 4px solid #995D21;
}

.frame-right {
   min-width: 3rem;
   min-height: 3rem;
   max-width: 20rem;
   max-height: 20rem;
   border-radius: 50%;
   overflow: hidden;
   margin-right: auto;
   border: 4px solid #995D21;
}

.text-left{
   margin-right: 2rem;
   text-align: right;
   margin-left: auto;
   min-width: 9rem;
   max-width: 30rem;
}

.text-right{
   margin-left: 2rem;
   text-align: left;
   margin-right: auto;
   min-width: 9rem;
   max-width: 30rem;
}

.image-left{
   width: 100%;
   height: 100%;
   object-position: right; 
}

.image-right{
   width: 100%;
   height: 100%;
   object-position: left; 
}

.buttonCancel {
  display: flex;
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #F2E2C2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #995D21;
  text-align: center;
  font-family: Noto Sans;
  min-width: 5rem;
  font-size: 1,25rem;
  font-style: normal;
  font-weight: bold;
  line-height: 100%; 
  text-transform: uppercase;
}

.containerLabel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-left: 1rem;
  gap: 1rem;
}

.logo {
	margin-top: 4rem;
   position: relative;
   min-width: 12rem;
   max-width: 16rem;
   margin-bottom: 1rem;
}

.gradient-line {
   margin-left: 20%;
   margin-right: 20%;
   border: none;
   height: 4px;
   background: linear-gradient(to right, transparent 0%, #995D21 50%, #995D21 50%, transparent 100%);
}

.overlay {
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo transparente */
   z-index: 999; /* Z-index alto para garantir que cubra outros elementos */
   pointer-events: auto; /* Captura eventos do mouse */
 }

.loading {
   position: absolute;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border-top: 4px solid #995D21;
   animation: spin 1s linear infinite;
 }

 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }
