@import url('https://fonts.googleapis.com/css2?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

nav {
	margin: 0.5rem auto 0;

	position: relative;
	width: 35rem;
	height: 3rem;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 0.8rem;
    font-family: Noto Sans;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav a:hover {
    color: white;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 7rem;
}
a:nth-child(2) {
	width: 7rem;
}
a:nth-child(3) {
	width: 7rem;
}
a:nth-child(4) {
	width: 7rem;
}
a:nth-child(5) {
	width: 7rem;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 7rem;
	left: 0;
	background-color: #995D21;
}
nav .start-mundos, a:nth-child(2):hover~.animation {
	width: 7rem;
	left: 7rem;
	background-color: #D0A981;
}
nav .start-aventuras, a:nth-child(3):hover~.animation {
	width: 7rem;
	left: 14rem;
	background-color: #995D21;
}
nav .start-inimigos, a:nth-child(4):hover~.animation {
	width: 7rem;
	left: 21rem;
	background-color: #D0A981;
}
nav .start-acesso, a:nth-child(5):hover~.animation {
	width: 7rem;
	left: 28rem;
	background-color: #995D21;
}

nav .dropdown {
    position: relative;
}
  
nav .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    border-radius: 8px;
    z-index: 2;
}
  
nav .dropdown:hover .dropdown-content {
    display: block;
	border-radius: 8px;
    transition: 0.25s;
}

.dropdown-content a:hover {
    background-color: #995D21;
	border-radius: 8px;
    transition: 0.25s;
}