@import url('https://fonts.googleapis.com/css2?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.modal {
	margin: 0.5rem auto 0;

	position: relative;
}

.containerWhite {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: center; 
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: #FFF;
  justify-content: space-between;
  min-width: 12rem;
  max-width: 30rem;
} 
  