<html> 
    <head> 
        <style> 
            .div-fundo { position: relative; width: 50%; }
            .div-sobreposta { position: absolute; top: 0; left: 0; opacity: 0.5; }    
            .img-sobreposta { width: 100%; height: 100%; } 
        </style> 
    </head> 
    <body>
        <div class="div-fundo"> 
            <img src="imagem-fundo.jpg" usemap="#mapa" alt="Imagem de fundo"> 
        </div>
        <div class="div-sobreposta"> 
            <img src="imagem-sobreposta.png" class="img-sobreposta" alt="Imagem sobreposta"> 
        </div>
        <map name="mapa"> 
            <area shape="rect" coords="34,44,270,350" alt="Área 1" href="area1.html"> 
            <area shape="rect" coords="290,172,333,250" alt="Área 2" href="area2.html"> 
            <area shape="circle" coords="337,300,44" alt="Área 3" href="area3.html"> 
        </map>
    </body> 
</html>