@import url('https://fonts.googleapis.com/css2?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
:root {
  font-family: Noto Sans;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.inputText{
  border: #EFEFEF;
  display: flex;
  min-height: 25px;
  min-width: 120px;
  padding: 10px;
  align-self: stretch;
  align-items: center; 
  gap: 0.5rem;
  border-radius: 0.6rem;
  background: #EFEFEF; 
  color: #995D21;
  font-size: 1.25rem; 
  font-family: Noto Sans;
  font-style: oblique;
  min-width: 300px;
}

::placeholder {
  color: #4b433c;
  font-family: Noto Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

label {
  color: #000000;
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400; 
  justify-content: space-between;
}

p {
  color: #000000;
  font-family: Noto Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
}


h1 {
  color: #995D21;
  font-family: Noto Sans;
  font-size: 2.25rem;
  font-style: normal;
  font-display: swap;
  font-weight: bold;   
  line-height: 100%; 
  text-transform: uppercase;
  justify-content: left;
} 

button {
  border: 1px solid transparent;
  display: flex;
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #D0A981;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #995D21;
  text-align: center;
  font-family: Noto Sans;
  min-width: 120px;
  font-size: 1,25rem;
  font-style: normal;
  font-weight: bold;
  line-height: 100%; 
  text-transform: uppercase;
}

button:hover {
  background: #995D21;
  color: #F2E2C2;
  transition: 0.5s;
  border: #995D21;
}

.buttonCancel {
  display: flex;
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #F2E2C2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #995D21;
  text-align: center;
  font-family: Noto Sans;
  min-width: 120px;
  font-size: 1,25rem;
  font-style: normal;
  font-weight: bold;
  line-height: 100%; /* 1.25rem */
  text-transform: uppercase;
}

.dataColWhite {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center; 
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  background: #FFF;
  justify-content: space-between;
  min-width: 250px;
  max-width: 500px;
} 

.containerLabel{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-left: 1rem;
  gap: 1rem;
}

.twoColumns{
  min-width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}